<html>
<body>
 <%= form_tag :action => "create" %>
   Mail: <%= text_field "item", "mail"
%><br />
   Password: <%= text_field "item", "password"
%><br />
   <%= submit_tag %>
  </form>
</body>
</html>